Tree {
  background: $background;
}

Tree:focus {
  background-tint: black 0%;
}

.textview #tree-plan {
  display: none
}

.textview #summary {
  display: none
}

#text-plan {
  display: none
}

.textview #text-plan {
  display: block
}
